# ðŸ§¹ Data Cleaning Project: Premier League Matches

This project demonstrates step-by-step data cleaning on raw football match data.
We:
- Combined date and time into a single `datetime` column
- Dropped irrelevant columns
- Extracted features (year, month, day, hour, minute, goals, etc.)
- Produced a cleaned dataset ready for analysis

## Step 1: Load the dataset
We start by importing pandas and reading the raw CSV file.

In [266]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [267]:

df = pd.read_csv('/Users/mac/Desktop/mydata.csv')

## Step 2: Convert And Combine the Date And Clock

In [268]:
# Fix common month typos
df['date'] = df['date'].str.replace(r'st|nd|rd|th', '', regex=True)
df['date'] = df['date'].str.replace(r'Augu', 'August', regex=True)
# Add more replacements if needed, e.g. df['date'] = df['date'].str.replace(r'Janu', 'January', regex=True)
# Combine date + clock into one datetime column
df["datetime"] = pd.to_datetime(
    df["date"].astype(str) + " " + df["clock"], 
    errors="coerce"
)

/var/folders/lf/3lnp0_1d23l6fglx454yx1240000gn/T/ipykernel_22183/742920109.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["datetime"] = pd.to_datetime(

## Step 3: Drop columns we no longer need
We remove `links`, `clock`, and `date` after merging.

In [269]:
df.drop(['links', 'clock', 'date'], axis=1, inplace=True)

## Step 3: Mapping the Class
we map out the class to home_win, away_win and draw

In [270]:
df['class'] = df['class'].map({'h':'home_win', 'a':'away_win', 'd':'draw'})

## Step 4: Converting the Attendance from Float to Integers

In [271]:
df['attendance'] = df['attendance'].str.replace(',', '').astype(float)
df['attendance'] = df['attendance'].astype(int)

## Step 5: Converting Home and Away into Integers

In [272]:
df['home_possessions'] = df['home_possessions'].astype(int)
df['away_possessions'] = df['away_possessions'].astype(int)

In [273]:
df['home_duels'] = df['home_duels'].astype(int)
df['away_duels'] = df['away_duels'].astype(int)

In [275]:
df['home_tackles'] = df['home_tackles'].astype(int)
df['away_tackles'] = df['away_tackles'].astype(int)
df['home_pass'] = df['home_pass'].astype(int)
df['away_pass'] = df['away_pass'].astype(int)

## Step 6: Showing the first 10 Head of the Datasets

In [276]:
df.head(10)

,stadium,class,attendance,Home Team,Goals Home,Away Team,Away Goals,home_possessions,away_possessions,home_shots,...,away_duels,home_saves,away_saves,home_fouls,away_fouls,home_yellow,away_yellow,home_red,away_red,datetime
0,Emirates Stadium,home_win,60095,2,5,13,0,51,49,14,...,52,0,3,8,11,0,0,0,0,2023-05-28 16:30:00
1,Villa Park,home_win,42212,7,2,6,1,40,59,12,...,47,3,3,15,16,4,4,0,0,2023-05-28 16:30:00
2,Gtech Community Stadium,home_win,17120,9,1,1,0,34,65,11,...,50,2,3,12,8,4,0,0,0,2023-05-28 16:30:00
3,Stamford Bridge,draw,40130,12,1,4,1,64,35,22,...,45,3,5,9,11,0,0,0,0,2023-05-28 16:30:00
4,Selhurst Park,draw,25198,11,1,16,1,66,34,15,...,41,3,2,9,13,0,2,0,0,2023-05-28 16:30:00
5,Goodison Park,home_win,39201,17,1,15,0,37,62,13,...,46,1,5,11,12,1,3,0,0,2023-05-28 16:30:00
6,Elland Road,away_win,36871,19,1,8,4,52,47,19,...,45,3,1,8,5,3,0,0,0,2023-05-28 16:30:00
7,The King Power Stadium,home_win,32183,18,2,14,1,48,51,13,...,31,2,2,8,10,1,1,0,0,2023-05-28 16:30:00
8,Old Trafford,home_win,32183,3,2,10,1,53,46,21,...,53,2,6,14,10,1,2,0,0,2023-05-28 16:30:00
9,St. Mary's Stadium,draw,31129,20,4,5,4,30,69,15,...,45,4,6,4,10,0,2,0,0,2023-05-28 16:30:00

## Step 7: Create `datetime` and extract parts
We merge `date` and `clock` to a single timestamp for easier time analysis.

In [277]:
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["day"] = df["datetime"].dt.day
df["hour"] = df["datetime"].dt.hour
df["minute"] = df["datetime"].dt.minute

## Step 8: Call out the columns and Rearrange the newly created separate datetime
We rearrange the newly created datetime namrly year,month,day and hour

In [278]:
df.columns

Index(['stadium', 'class', 'attendance', 'Home Team', 'Goals Home',
       'Away Team', 'Away Goals', 'home_possessions', 'away_possessions',
       'home_shots', 'away_shots', 'home_on', 'away_on', 'home_off',
       'away_off', 'home_blocked', 'away_blocked', 'home_pass', 'away_pass',
       'home_chances', 'away_chances', 'home_corners', 'away_corners',
       'home_offside', 'away_offside', 'home_tackles', 'away_tackles',
       'home_duels', 'away_duels', 'home_saves', 'away_saves', 'home_fouls',
       'away_fouls', 'home_yellow', 'away_yellow', 'home_red', 'away_red',
       'datetime', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [279]:
columns = [
    'year', 'month', 'day', 'hour', 'minute', 'stadium', 'class', 'attendance', 'Home Team', 'Goals Home',
    'Away Team', 'Away Goals', 'home_possessions', 'away_possessions',
    'home_shots', 'away_shots', 'home_on', 'away_on', 'home_off',
    'away_off', 'home_blocked', 'away_blocked', 'home_pass', 'away_pass',
    'home_chances', 'away_chances', 'home_corners', 'away_corners',
    'home_offside', 'away_offside', 'home_tackles', 'away_tackles',
    'home_duels', 'away_duels', 'home_saves', 'away_saves', 'home_fouls',
    'away_fouls', 'home_yellow', 'away_yellow', 'home_red', 'away_red',
    'datetime']
df = df[columns]

## Step 9: We drop the old datetime 
we drop the old datetime and display the first ten datasets

In [280]:
df = df.drop('datetime', axis=1)

In [281]:
df.head(10)

,year,month,day,hour,minute,stadium,class,attendance,Home Team,Goals Home,...,home_duels,away_duels,home_saves,away_saves,home_fouls,away_fouls,home_yellow,away_yellow,home_red,away_red
0,2023,5,28,16,30,Emirates Stadium,home_win,60095,2,5,...,47,52,0,3,8,11,0,0,0,0
1,2023,5,28,16,30,Villa Park,home_win,42212,7,2,...,52,47,3,3,15,16,4,4,0,0
2,2023,5,28,16,30,Gtech Community Stadium,home_win,17120,9,1,...,50,50,2,3,12,8,4,0,0,0
3,2023,5,28,16,30,Stamford Bridge,draw,40130,12,1,...,54,45,3,5,9,11,0,0,0,0
4,2023,5,28,16,30,Selhurst Park,draw,25198,11,1,...,58,41,3,2,9,13,0,2,0,0
5,2023,5,28,16,30,Goodison Park,home_win,39201,17,1,...,53,46,1,5,11,12,1,3,0,0
6,2023,5,28,16,30,Elland Road,away_win,36871,19,1,...,54,45,3,1,8,5,3,0,0,0
7,2023,5,28,16,30,The King Power Stadium,home_win,32183,18,2,...,68,31,2,2,8,10,1,1,0,0
8,2023,5,28,16,30,Old Trafford,home_win,32183,3,2,...,46,53,2,6,14,10,1,2,0,0
9,2023,5,28,16,30,St. Mary's Stadium,draw,31129,20,4,...,54,45,4,6,4,10,0,2,0,0

## Step 10: Feature engineering
We added:
- `total_goals` = sum of home + away goals
- `goal_difference` = absolute difference between home and away goals

In [282]:
#doing some basic Arithmetic Operations
df['total_goals'] = df['Goals Home'] + df['Away Goals']
df['goal_difference'] = abs(df['Goals Home'] - df['Away Goals'])
df.head(10)

,year,month,day,hour,minute,stadium,class,attendance,Home Team,Goals Home,...,home_saves,away_saves,home_fouls,away_fouls,home_yellow,away_yellow,home_red,away_red,total_goals,goal_difference
0,2023,5,28,16,30,Emirates Stadium,home_win,60095,2,5,...,0,3,8,11,0,0,0,0,5,5
1,2023,5,28,16,30,Villa Park,home_win,42212,7,2,...,3,3,15,16,4,4,0,0,3,1
2,2023,5,28,16,30,Gtech Community Stadium,home_win,17120,9,1,...,2,3,12,8,4,0,0,0,1,1
3,2023,5,28,16,30,Stamford Bridge,draw,40130,12,1,...,3,5,9,11,0,0,0,0,2,0
4,2023,5,28,16,30,Selhurst Park,draw,25198,11,1,...,3,2,9,13,0,2,0,0,2,0
5,2023,5,28,16,30,Goodison Park,home_win,39201,17,1,...,1,5,11,12,1,3,0,0,1,1
6,2023,5,28,16,30,Elland Road,away_win,36871,19,1,...,3,1,8,5,3,0,0,0,5,3
7,2023,5,28,16,30,The King Power Stadium,home_win,32183,18,2,...,2,2,8,10,1,1,0,0,3,1
8,2023,5,28,16,30,Old Trafford,home_win,32183,3,2,...,2,6,14,10,1,2,0,0,3,1
9,2023,5,28,16,30,St. Mary's Stadium,draw,31129,20,4,...,4,6,4,10,0,2,0,0,8,0